{% extends "Base.html" %}
{% load static %}

{% block content %}

{% url 'skills' as skills %}


<div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-center">How does my present life look like?</h1>
        </div>
      </div>
      <div class="row">
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-graduation-cap"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Faculty of Informatics Masaryk University</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Currently Studying</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">
                « Applied informatics
                <br> &nbsp &nbsp &nbsp ~ 1.Semester</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-cogs"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>~~~~~~~~~</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Currently Unemployed</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1"> « Previews work experience:
                <br> &nbsp &nbsp &nbsp ~ 2 years in KIA MOTORS Slovakia
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-center">My Education that I think is valuable</h1>
        </div>
      </div>
      <div class="row">
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-gamepad"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Unreal Engine</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1"> « Blueprint Coding&nbsp;
                <br>« TPP
                <br>« FPP</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-code"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Python</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Advanced Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Selenium
                <br>« Django
                <br>« OpenCV</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-database"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>SQL</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Manipulation via python, php &amp; Java</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-code"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Java</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Advanced Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« OpenCV
                <br>« OOP</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-file-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Bootstrap 3/4</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner - Advanced Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« WYSIWYG Editors - creation
                <br>« IDE Editors - edit</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-file-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>HTML , CSS, &nbsp;Javascript</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Bootstrap edit</p>
            </div>
          </div>
        </div>
          </div>
    </div>
  </div>
          {% endblock %}

  {% block content2 %}
          <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-center">Operating Systems that I have ever used</h1>
        </div>
      </div>
      <div class="row">
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-hdd-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Microsoft Server</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Basic structures
                <br> « GPO </p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-hdd-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Oracle Solaris</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« command line commands</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-hdd-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Linux Ubuntu</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Beginner Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« command line commands </p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-laptop"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Windows 7 / 10 / Mac Os</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Advanced Level</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« CommandLine Commands
                <br> « Re-Installation / booting </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block redirect %}
<div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-center">Every Certificate I have achieved &nbsp;</h1>
        </div>
      </div>
      <div class="row">
          <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-graduation-cap"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>Information and Communication / Network Technologies</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>HighSchool Education</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Spojena Skola Kysucke Nove Mesto &nbsp;</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>IT Essencials</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Certificate of completion</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>CCNA Routing and Switching</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Certificate of completion</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Introduction to networks</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>CCNA Routing and Switching</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Certificate of completion</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Routing and Switching Essencials</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>CCNA Routing and Switching</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Certificate of completion</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Connecting Networks</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4">
              <i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">
                <b>CCNA Routing and Switching</b>
                <small>
                  <small>
                    <ul class="text-Dark py-1">
                      <li>Certificate of completion</li>
                    </ul>
                  </small>
                </small>
              </h5>
              <p class="my-1">« Scaling Networks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}