{% extends "Base.html" %}

{% load static %}


{% block content %}

<div class="py-5 text-center text-white">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">My Porfolio Website</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="{% static 'image_of_me/My_profile_pic.png' %}" alt="Card image cap" width="200">
          <h4> <b>Dominik Lašo</b> </h4>
          <p class="mb-0">Junior Python Developer</p>
          <div class="p-3">
          </div>
          <div>
            <div class="row text-left">
              <div class="col-4 p-1">
                <i class="fa fa-github" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <a href="https://github.com/lasododo">
                <h2> GitHub </h2>
                </a>
              </div>
              <div class="col-4 p-1">
                <i class="fa fa-stack-overflow" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <a href="https://stackoverflow.com/users/9559884/dominik-la%C5%A1o" >
                <h2> Stack Overflow</h2>
                </a>
              </div>
              <div class="col-4 p-1">
                <i class="fa fa-windows" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <h2> Windows</h2>
              </div>
              <div class="col-4 p-1">
                <i class="fa fa-apple" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <h2> Mac OS </h2>
              </div>
              <div class="col-4 p-1">
                <i class="fa fa-linux" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <h2> Linux ( CLI ) </h2>
              </div>
              <div class="col-4 p-1">
                <i class="fa fa-language" style="font-size:40px;color:white"></i> &nbsp; &nbsp; <i class="fa fa-check" style="font-size:40px;color:green"></i>
              </div>
              <div class="col-8 p-1">
                <h2> English - B2 </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 p-4">
          <div class="container">
            <div class="row">
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Python </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:95%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Django </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:68%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> SQL </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:62%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Unreal Engine 4 </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:55%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Bootstrap </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:75%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Selenium Webdriver </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:72%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Flask </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:37%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Beginner </p>
              </div>
              <div class="col-8">
                <h3> Rest-API </h3>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-round-xlarge w3-blue" style="width:30%"> <br> </div>
                </div>
              </div>
              <div class="col-2">
                <p>
                  <br>
                  <br> Advanced </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3">What Kind of person am I ?</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-group fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Social</h4>
              <p>I like to be around other people to talk about
                <br>almost everything :)</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-comments fa-4x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Talkative</h4>
              <p>I like to talk about almost anything with others :)
                <br>Especially discussing something in IT ( like new tech etc. )</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa  fa-line-chart fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Hard Working / Sedulous</h4>
              <p>I am always trying to finish my work and make&nbsp;
                <br>it as good as its possible :)&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa fa-graduation-cap fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Willing to Learn</h4>
              <p>I am willing to learn new things :)&nbsp;My main source of education are Online Courses / Documentations</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block mx-auto fa  fa-handshake-o fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Responsible</h4>
              <p>If someone needs my help I am willing to help him or
                <br>if I have something to do, I am trying make it done</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa  fa-hourglass-half fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Openminded</h4>
              <p>I am trying to hear other's opinion to know better
                <br>about a specific topic&nbsp; </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 ">Sometimes is just matter to write things clear.&nbsp;</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-columns fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <a href="/products">
              <h4 class="text-primary">Django Projects</h4>
              </a>
              <p>This secition includes everything I have done
                <br>in Django Framework ( like this whole portfolio )</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-circle-thin fa-4x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <a href="/DownloadAblePrograms/Python">
              <h4 class="text-primary">Python from school</h4>
              </a>
              <p>This secition includes everything I have done
                <br> All python files that i have made in my university</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa  fa-comment-o fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <a href="">
              <h4 class="text-primary">/ Games / </h4>
              </a>
              <p>In this section I have a game that I did in school
                <br>like a finishing ( High School &nbsp;Graduation ) project.&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa fa-battery-empty fa-3x"></i>
            </div>
            <div class="col-10">
              <a href="/DownloadAblePrograms/selenium">
              <h4 class="text-primary">Selenium Automatization</h4>
              </a>
              <p>This section includes everytihing I have done
                <br>in Selenium ( Proxy Gatherer, G+ poster ... )</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block mx-auto fa  fa-clone fa-3x"></i>
            </div>
            <div class="col-10">
              <a href="">
              <h4 class="text-primary">Classes</h4>
              </a>
              <p>Work simultaneously on different panels.
                <br>Share the work with teammates.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa  fa-heart-o fa-3x"></i>
            </div>
            <div class="col-10">
              <a href="/DownloadAblePrograms">
              <h4 class="text-primary">All Projects</h4>
              </a>
              <p>Here you can find all my projects I have done
                <br>including all from the sections above
                <br> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}